{% extends 'base.html.twig' %}

{% block manifest %}
    <link rel="manifest" href="{{ asset('manifest.json') }}">
{% endblock %}

{% block title %}PWA Problem Resolver{% endblock %}

{% block css_assets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}